{% extends 'layouts/blank.html' %}
{% block content %}
  <h1>hola desde demo.html</h1>
  nombre : {{locals['nombre']}} <br>
  nombre : {{locals['edad']}} <br>
  {% if (locals['edad'] >= 18) %}
    <b>Es mayor de edad</b>
  {% else %}  
    <b>Es menor de edad</b>
  {% endif %}
  {% for ticla in locals['bicicletas'] %}
    <img src="assets/img/{{ticla['img']}}.png" alt="{{ticla['alt']}}" width="315" height="213"> 
  {% endfor %}
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="assets/css/demo.css">
{% endblock %}

{% block js %}
  <script src="assets/js/demo.js"></script> 
{% endblock %}